body{
    background: url(../images/decoration-pattern.svg);
    padding: 0;
    margin: 0;
}
#icon-header{
    width: 105px;
    height: 30px;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;
    margin: 1rem;
}
.btn-me{
    background-color: white;
    border: none;
}
.a{
    font-size: medium;
}
.bnv{
    color: green;
}
#huy{
    width: 666px;
}
.text-wrap{
    text-wrap: wrap;
}
input{
    border: 1px solid hsl(0, 0%, 47%);
    border-radius: 5px;
    width: 40%;
    height: 70px;
}
.lki{
    position: fixed;
    background-color: white;
    background-size: 100%;
}
.mhg{
    margin: 20px;
}
.se1{
    height: 115px;
    border-radius: 10px;
    background-color: black;
}
.se2{
    height: 115px;
    border-radius: 10px;
    background-color: lime;
}
#POI{
    width: 300px;
}
.alis{
    font: bolder;
}
.e{
    margin-right: 10rem;
    margin-left: 10rem;
}
.gtb{
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
}
.btg{
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
}
#re{
    width: 20rem;
}
#er{
    width: 20rem;
}
#sw{
    list-style: circle;
}
.uyy{
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-top: 5rem;
}
.liki{
    background-color: grey;
    border-radius: 5px;
}
.asdf{
    background-color: dimgray;
    border-radius: 5px;
    color: white;
    width: 20rem;
    height: auto;
    margin: auto;
    margin-top: 5rem;
}
.bold{
    font-size: xx-large;
    font: bolder;
}
.poit{
    width: 20%;
    margin-right: 4%;
    margin-bottom: 4rem;
    height:  350px;
    background: dimgray;
    position: relative;
    border-radius: 20px;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
.lio{
    padding: 2px;
    width: 6rem;
    height: auto;
    border-radius: 5px;
    color: white;
    background: black;
    margin-top: 2rem;
}
.wer{
    font-size: 6rem;
    font: bolder;
}
.hgf{
    display: inline;
}
.ujh{
    width: 32%;
    height: 35rem;
    background: rgb(83, 197, 83);
    border-radius: 2rem;
    padding: 2rem;
}
.ut{
    margin-right: 4rem;
    width: 40rem;
}
.ikj{
    width: 100%;
    height: 20rem;
    background: rgb(83, 197, 83);
    border-radius: 7px;
    padding: 3rem;
}